<div class="card mx-auto mat-elevation-z4" style="max-width: 30rem;">
    <div class="card-header" id="title-form">
        Iniciar Sesión
    </div>
    <div class="card-body">
        <form #loginForm="ngForm">
            <div class="row justify-content-around">
                <div class="form-group mb-1 col-md-6">
                    <label for="userName">Usuario</label>
                    <div class="ui-inputgroup pb-2">
                        <span class="ui-inputgroup-addon"><em class="pi pi-user"></em></span>
                        <input type="text" class="ui-inputtext col-10" name="username" id="userName" placeholder="Ingrese el usuario" required maxlength="20">
                    </div>
                </div>
                <div class="form-group mb-1 col-md-6">
                    <label for="password">Contraseña</label>
                    <div class="ui-inputgroup pb-2">
                        <span class="ui-inputgroup-addon pointer" >
                            <em *class="pi pi-eye-slash"></em>
                            <em class="pi pi-eye"></em>
                          </span>
                        <input class="ui-inputtext col-10" name="password" id="password" placeholder="Ingrese la contraseña" required maxlength="20">
                    </div>
                </div>
            </div>
            <button mat-button class="mt-2 mat-elevation-z4 btn" style="background-color: #999999;color: white;" id="btnLogin" >
        Continuar
      </button>
        </form>
    </div>
</div>