<div class="header-img">
    <div class="row">
        <div class="col-lg-4">
            <img src="./assets/img/header.png" alt="USB CALI">
        </div>
        <div class="col-lg-5">
            <div class="page-title">
                <span class="part1">Administrador Proyectos</span>
              </div>
        </div>
        <div class="col-lg-1" style="text-align: center;margin: auto;">
            <div *ngIf="authService.isAuthenticated()" class="user-info">
                {{userName}}
               </div>
        </div>
            <div class="col-lg-2" style="text-align: center;margin: auto;">
                <div class="sesion">
                    <a *ngIf="authService.isAuthenticated()" class="btn" style="color: white;background-color: #999999" (click)="logout()">Salir</a>
                  </div>
                </div> 
    </div>
</div>

