<div class="header-img">
    <div class="row">
        <div class="col-lg-4">
            <img src="./assets/img/header.png" alt="Giros y Finanzas - Preaprobados">
        </div>
        <div class="col-lg-4">
            <div class="page-title">
                <span class="part1">Administrador Proyectos</span>
              </div>
        </div>
            <div class="col-lg-4" style="text-align: center;margin: auto;">
                <div class="sesion">
                    <a  class="btn" style="color: white;background-color: #999999" >Ingresar</a>
                  </div>
                </div> 
    </div>
</div>

