<div id="information-project-component" class="card mx-auto mat-elevation-z2">
  <div class="card-header" id="title-form">
    Información del proyecto
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="tbl-list" class="table table-bordered table-hover caption-top border-color" style="text-align: center;">
        <thead class="table-head-color">
          <tr>
            <th scope="col" style="width: 150;color: white;">Nombre del Proyecto</th>
            <th scope="col" style="width: 150;color: white;">Fecha inicio</th>
            <th scope="col" style="width: 150;color: white;">fecha fin</th>
            <th scope="col" style="width: 150;color: white;">Resumen Proyecto</th>
            <th scope="col" style="width: 150;color: white;">Objetivo general</th>
            <th scope="col" style="width: 150;color: white;">Objetivos especificos</th>
            <th scope="col" style="width: 150;color: white;">Justificación</th>
            <th scope="col" style="width: 150;color: white;">Metodologia</th>
            <th scope="col" style="width: 150;color: white;">Tipologia del proyecto</th>
            <th scope="col" style="width: 150;color: white;">Problema u objeto de investgación</th>
            <th scope="col" style="width: 150;color: white;">Estado del proyecto</th>
            <th scope="col" style="width: 150;color: white;">Entregables</th>
            <th scope="col" style="width: 150;color: white;">Creador por</th>
            <th scope="col" style="width: 150;color: white;">Dirigido por</th>
          </tr>
        </thead>
        <tbody>
          <td>{{titleProjectModel}}</td>
          <td>{{dateFromModel}}</td>
          <td>{{dateUntilModel}}</td>
          <td>{{summaryModel}}</td>
          <td>{{generalObjetiveModel}}</td>
          <td>{{specificObjetives}}</td>
          <td>{{justificationModel}}</td>
          <td>{{projectMethologyModel}}</td>
          <td>{{researchTypologyModel}}</td>
          <td>{{researchProblemModel}}</td>
          <td>{{stateName}}</td>
          <td>{{deliverys}}</td>
          <td>{{createBy}}</td>
          <td>{{projectDirector}}</td>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <button class="btn btn-md" style="border-color:#999999;background-color: #999999;color: white;box-shadow: none"
          id="backBtn" name="backBtn" type="button" (click)="back()">
          Volver
        </button>
      </div>
    </div>
  </div>
</div>