<div id="edit-user-component" class="card mat-elevation-z2" style="width: auto;">
    <div class="card-header" id="title-form">
        Editar/Eliminar Usuario
    </div>
    <div class="card-body">
        <form #editRemoveForm="ngForm">
            <div class="container">
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="userName">Buscar por nombre de usuario
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [(ngModel)]="userNameModel" id="inputUserName" #userName="ngModel" placeholder="Escriba el nombre de usuario"
                            name="inputUserName" style="width: 200px;margin-bottom: 1%;" required>
                            <button class="btn btn-sm" (click)="findUser()"
                            style="border-color:#999999;background-color: #999999;color: white;box-shadow: none;margin-left: 2%;"
                             id="createUserbtn" name="createUserbtn" type="button">
                            Consultar usuario
                        </button>
                        <button class="btn btn-sm"
                            style="border-color:#999999;background-color: #999999;color: white;box-shadow: none;margin-left: 2%;"
                            (click)="clean(editRemoveForm)" id="cleanUserbtn" name="cleanUserbtn" type="button">
                            Limpiar
                        </button>
                        <br>
                        <small *ngIf="userName.invalid && userName.touched" class="alert-danger p-2 rounded">
                            <small *ngIf="userName.errors?.['pattern']" class="required">Formato inválido</small>
                        </small>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="email">Correo electronico
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [(ngModel)]="emailModel" id="inputEmail" #email="ngModel" name="inputEmail"
                           [disabled]="disabledInputs==false" style="width: 200px;margin-bottom: 1%;" required>
                        <br>
                        <small *ngIf="email.invalid && email.touched" class="alert-danger p-2 rounded">
                            <small *ngIf="email.errors?.['pattern']" class="required">Formato inválido</small>
                        </small>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="password">Actualizar Contraseña
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input [type]="showPasswordOnPress ? 'text' : 'password'" [(ngModel)]="passwordModel" placeholder="Escriba la nueva conttraseña"
                        [disabled]="disabledInputs==false"  id="inputPassword" #password="ngModel" name="inputPassword"
                            style="width: 200px;margin-bottom: 1%;" required maxlength="20"
                            [type]="hidePassword ? 'password' : 'text'">
                        <span class="ui-inputgroup-addon pointer">
                            <span class="ui-inputgroup-addon pointer" (click)="hidePassword = !hidePassword"></span>
                            <em *ngIf="hidePassword" (mousedown)="showPasswordOnPress = !showPasswordOnPress"
                                (mouseup)="showPasswordOnPress = !showPasswordOnPress" class="pi pi-eye"
                                style="margin-left: 3px;"></em>
                        </span>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="profile">Perfil:
                        </label>
                    </div>
                    <div class="col-sm-6" style="width: 260px;">
                        <select name="profileSelect" class="select-text" id="profileSelect" style="width: 85%;"
                        [disabled]="disabledInputs==false" (change)="valueChangeProfile($event)" [(ngModel)]="selectedProfile" #selectProfile="ngModel"
                            required>
                            <option disabled default [ngValue]="selectedProfile">{{selectedProfile}}</option>
                            <option  [ngValue]="option" *ngFor="let option of listProfiles;" 
                                class="dropdown-item">
                                {{option.profileName}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="firstName">Primer nombre
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [disabled]="disabledInputs==false"  [(ngModel)]="firstNameModel" id="inputfirstName" #firstName="ngModel"
                            name="inputfirstName" style="width: 200px;margin-bottom: 1%;" required>
                        <br>
                        <small *ngIf="firstName.invalid && firstName.touched" class="alert-danger p-2 rounded">
                            <small *ngIf="firstName.errors?.['pattern']" class="required">Formato inválido</small>
                        </small>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="userName">Segundo nombre
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [disabled]="disabledInputs==false" [(ngModel)]="secondNameModel" id="inputsecondNameModel" #secondName="ngModel"
                            name="inputsecondNameModel" style="width: 200px;margin-bottom: 1%;">
                        <small *ngIf="secondName.invalid && secondName.touched" class="alert-danger p-2 rounded">
                            <small *ngIf="secondName.errors?.['pattern']" class="required">Formato inválido</small>
                        </small>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="surname">Primer apellido
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [disabled]="disabledInputs==false" [(ngModel)]="surnameModel" id="inputsurname" #surname="ngModel"
                            name="inputsurname" style="width: 200px;margin-bottom: 1%;" required>
                        <br>
                        <small *ngIf="surname.invalid && surname.touched" class="alert-danger p-2 rounded">
                            <small *ngIf="surname.errors?.['pattern']" class="required">Formato inválido</small>
                        </small>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-6" style="text-align: end;">
                        <label for="secondSurname">Segundo apellido
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [disabled]="disabledInputs==false" [(ngModel)]="secondSurnameModel" id="inputsecondSurname"
                            #secondSurname="ngModel" name="inputsecondSurname" style="width: 200px;margin-bottom: 1%;">
                        <br>
                        <small *ngIf="secondSurname.invalid && secondSurname.touched" class="alert-danger p-2 rounded">
                            <small *ngIf="secondSurname.errors?.['pattern']" class="required">Formato inválido</small>
                        </small>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-lg-7" style="text-align: end;">
                        <button class="btn btn-sm" 
                        [disabled]="disabledInputs==false" style="border-color:#999999;background-color: #999999;color: white;box-shadow: none"
                            (click)="updateUser(editRemoveForm)" id="updateuser" name="updateuser" type="button">
                            Actualizar Usuario
                        </button>
                    </div>
                    <div class="col-lg-5">
                        <button class="btn btn-sm" [disabled]="disabledInputs==false"
                            style="border-color:#999999;background-color: #999999;color: white;box-shadow: none"
                            (click)="deleteUser(editRemoveForm)" id="removeUser" name="removeUser" type="button">
                            Borrar Usuario
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>