<div id="approval-projects-component" class="card mx-auto mat-elevation-z2">
    <div *ngIf="authService.getRol()=='ESTUDIANTE' || authService.getRol()=='PROFESOR'" class="card-header"
        id="title-form">
        Proyectos Aprobados
    </div>
    <div *ngIf="authService.getRol()=='DIRECTOR'" class="card-header" id="title-form">
        Solicitud de proyectos
    </div>
    <div class="card-body">
        <div class="table-responsive-xl">
            <div *ngIf="projectListRequest?.length==0" class="alert alert-info my-a mat-elevation-z1">
                No hay solcitudes de proyectos.
            </div>
            <form #projectRequestListForm="ngForm">
                <div class="row">
                    <div class="col-lg-2" style="width: auto;">
                        <label for="stateRequest">Filtrar por estado:
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <select name="selectStateRequest" class="select-text" id="selectStateRequest"
                            style="width: 85%;margin-bottom: 1%;" (change)="valueChangeStateRequest($event)"
                            [(ngModel)]="selectedState" #selectStateValidate="ngModel" required>
                            <option class="dropdown-item" disabled selected value="undefined">Seleccione</option>
                            <option [value]="option.stateProjectRequestId"
                                *ngFor="let option of listStateProjectRequest;let x = index" class="dropdown-item">
                                {{option.stateNameProjectRequest}}
                            </option>
                        </select>
                    </div>
                </div>
                Elementos por pagina:
                <select (change)="handlePageSizeChange($event)">
                  <option *ngFor="let size of pageSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
                <div class="table-responsive">
                    <table id="tbl-list" style="text-align: center;"
                        class="table table-bordered table-hover caption-top border-color">
                        <caption>Proyectos aprobados/declinados</caption>
                        <thead class="table-head-color">
                            <tr>
                                <th scope="col" style="width: 110px;color: white;" *ngIf="authService.getRol()=='DIRECTOR'">
                                    <input type="checkbox" name="chk-all" id="chk-all" [(ngModel)]="selectedAll"
                                        (change)="selectAll()" (ngModelChange)="onNgModelChange($event)">
                                    Seleccionar
                                </th>
                                <th scope="col" style="width: 110px;color: white;">Nombre de usuario</th>
                                <th scope="col" style="width: 110px;color: white;">Estado solicitud del proyecto</th>
                                <th scope="col" style="width: 110px;color: white;">Comentario</th>
                                <th  *ngIf="authService.getRol()=='DIRECTOR'" scope="col" style="width: 130px;color: white;">Añadir Comentario</th>
                                <th scope="col" style="width: 110px;color: white;">Información completa del proyecto
                                </th>
                                <th *ngIf="authService.getRol()=='DIRECTOR'" scope="col"
                                    style="width: 160px;color: white;">Aprobar/rechazar proyecto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let projectRequest of projectListRequest | paginate : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: count
                              }; let i = index" [class.active]="i == currentIndex">
                              <th *ngIf="authService.getRol()=='DIRECTOR'">
                                <input type="checkbox" name="checkbox"
                                    id="checkbox" [(ngModel)]="projectRequest.isSelected"
                                    (change)="checkIfAllSelected()" >
                            </th>
                                <td>{{projectRequest.userName}}</td>
                                <td>{{projectRequest.stateNameProjectRequest}}</td>
                                <td >
                                    {{projectRequest.details}}</td>
                                <td *ngIf="authService.getRol()=='DIRECTOR'">
                                    <textarea class="ui-inputtext col-lg-10 border"  name="txtdetails" id="txtdetails"
                                        type="text" [(ngModel)]="detailsText" required></textarea>
                                </td>
                                <td>
                                    <button class="btn btn-sm" (click)="openModal()"
                                        style="border-color:#999999;background-color: #999999;color: white;box-shadow: none"
                                        id="clean" name="clean" type="button">
                                        Ver información
                                    </button>
                                </td>
                                <td *ngIf="authService.getRol()=='DIRECTOR'">
                                    <div class="row" >
                                        <div class="col-lg-12">
                                            <button class="btn btn-sm"
                                                [disabled]="checkedList==0 || projectRequest.stateProjectRequestId==2 || projectRequest.stateProjectRequestId==3"
                                                style="border-color:#999999;background-color: #999999;color: white;box-shadow: none;margin-right: 2%;"
                                                (click)="approvalProject(projectRequestListForm)" id="approvalBtn" name="approvalBtn" type="button">
                                                Aprobar
                                            </button>
                                            <button class="btn btn-sm"
                                            [disabled]="checkedList==0 ||projectRequest.stateProjectRequestId==2 || projectRequest.stateProjectRequestId==3"
                                            (click)="declineProject(projectRequestListForm)" style="border-color:#999999;background-color: #999999;color: white;box-shadow: none"
                                            id="declineBtn" name="declineBtn" type="button">
                                            Rechazar
                                        </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                            <pagination-controls previousLabel="Atrás" nextLabel="Siguiente" [responsive]="true"
                                (pageChange)="handlePageChange($event)"></pagination-controls>
                        </div>
                    </div>
                    <button class="btn btn-md"
                        style="border-color:#999999;background-color: #999999;color: white;box-shadow: none" id="clean"
                        name="clean" type="button" (click)="clean(projectRequestListForm)">
                        Limpiar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>