/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.layout-header {
    position: fixed;
    top: 0;
    height: 116px;
    width: 100%;
    padding: 0;
    background-color: #666666;
    z-index: 50;
}

.layout-header .page-title .part1 {
    color: white;
}

.layout-menu {
    position: fixed;
    margin-top: 117px;
    top: 0;
    height: 100%;
}

.layout-header .page-title {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
    float: left;
}

.layout-header .sesion {
    float: right;
    position: relative;
    padding-top: 35px;
    padding-right: 20px;
}

.layout-header .user-info {
    font-size: 14px;
    padding-top: 43px;
    padding-left: 20px;
    font-weight: bold;
    float: left;
}
.layout-main {
    height: auto;
    min-height: calc(100% - 40px) !important;
    padding: 10px;
    padding-top: 126px;
}

.main-card>.card-header,
.main-card>.card-footer {
    background-color: #F78327;
}


.card-header,
.card-footer {
    background-color: #F78327;
    font-weight: bold;
    padding: .35rem 1rem;
}

#menu-left .ng-trigger {
    width: 250px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}

